*.class

/build/
/.gradle/
/out/

!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

*.iml
.idea/
*.iws
*.ipr
*.log

.DS_Store
Thumbs.db

*.mv.db
*.h2.db

secret.key
.env
.env.*

swagger-ui.html
api-docs/
/test-output/
/coverage/
/jacoco.exec
flyway.conf
